@model file_project.Models.HomeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<!-- Exibindo dados do RepresentativeModel -->
<h1>@Model.Representative.Nome</h1>


<a href="@Url.Action("ProdutoColuna", "Home")" class="btn btn-circle"><i class="fas fa-plus"></i></a>

