@model file_project.Models.HomeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<!-- Exibindo dados do RepresentativeModel -->
<h1>@Model.Representative.Nome</h1>

