/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
}

/* Estilos do cabeçalho // Cor da barra do nav menu */
.navbar {
    background-color: #265C8F !important;
}

.navbar-brand {
    font-weight: bold;
}

    /* Ajuste o tamanho da logo */
    .navbar-brand img {
        height: 40px;
        width: auto; /* Mantém a proporção da imagem */
    }

/* Estilos do menu */
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilos dos itens do menu de navegação */
.nav-item a {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Ajusta o espaçamento */
}

    /* Efeito hover */
    .nav-item a:hover,
    .nav-item a:focus {
        color: #fff;
    }

    /* Linha animada abaixo do texto */
    .nav-item a:after {
        content: "";
        pointer-events: none;
        bottom: 5px;     /* distancia entre o txt e o hover */
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }

    .nav-item a:hover:after,
    .nav-item a:focus:after {
        width: 100%;
        left: 0%;
    }

/* Estilos do seletor de idioma */
.language-selector a {
    margin-left: 10px;
}

/* ------------------------------------------------------------- Estilos da seção hero */

/* Estilos da seção hero */
.hero-section {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: background-image 0.6s ease; /* Transição suave para a troca de imagem */
}

/* Dots agora serão posicionados verticalmente no lado direito da tela */
.hero-dots {
    position: absolute;
    top: 50%; /* Posiciona no meio verticalmente */
    right: 20px; /* Alinha os dots ao lado direito da tela. Use 'left' se quiser no lado esquerdo */
    transform: translateY(-50%); /* Centraliza verticalmente */
    display: flex;
    flex-direction: column; /* Coloca os dots em coluna (vertical) */
    z-index: 2; /* Garante que os dots fiquem acima do background */
    text-shadow: none !important;
}

    .hero-dots .dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: block;
        margin: 10px 0; /* Espaçamento vertical entre os dots */
        cursor: pointer;
        transition: background-color 0.6s ease;
        text-shadow: none !important;
    }

        .hero-dots .dot.active {
            background-color: #717171;
        }

/* Fade nos textos */
.hero-section h1,
.hero-section p {
    color: white !important; /* Garante que o texto fique branco */
    text-shadow: none !important; /* Remove qualquer sombra no texto */
    animation: fade 1.5s; /* Animação para esmaecer os textos */
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* Transição suave entre imagens e animação dos dots */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: fade 1.5s; /* Aplica o fade nas mudanças de imagens */
    text-shadow: none !important;
}

/* Responsividade: Ajuste para telas menores */
@media only screen and (max-width: 768px) {
    .hero-section {
        height: 400px;
    }

        .hero-section h1 {
            font-size: 2.5rem;
        }

        .hero-section p {
            font-size: 1.2rem;
        }

    /* Ajuste os dots para telas menores */
    .hero-dots {
        right: 10px; /* Alinha mais próximo da borda */
    }

        .hero-dots .dot {
            height: 10px;
            width: 10px;
        }
}

/* Responsividade: Ajuste para telas muito pequenas */
@media only screen and (max-width: 300px) {
    .hero-section h1 {
        font-size: 1.5rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .hero-dots .dot {
        height: 8px;
        width: 8px;
        margin: 8px 0; /* Reduz o espaçamento entre os dots */
    }
}


/* Estilos da seção hero */
/*.hero-section {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: background-image 0.6s ease;*/ /* Transição suave para a troca de imagem */
/*}*/

    /* Garantir que o texto fique branco e sem sombra */
    /*.hero-section h1,
    .hero-section p {
        color: white !important;*/ /* Força o texto a ser branco */
        /*text-shadow: none !important;*/ /* Remove qualquer sombra no texto */
        /*animation: fade 1.5s;*/ /* Animação para esmaecer os textos */
    /*}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}*/

/* Estilos dos dots */
/*.hero-dots .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

    .hero-dots .dot.active {
        background-color: #717171;
    }*/

/* Transição suave entre imagens e animação dos dots */
/*.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: fade 1.5s;*/ /* Aplica o fade nas mudanças de imagens */
/*}*/

/* Responsividade: Ajuste para telas menores */
/*@media only screen and (max-width: 768px) {
    .hero-section {
        height: 400px;
    }

        .hero-section h1 {
            font-size: 2.5rem;
        }

        .hero-section p {
            font-size: 1.2rem;
        }
}*/

/* Responsividade: Ajuste para telas muito pequenas */
/*@media only screen and (max-width: 300px) {
    .hero-section h1 {
        font-size: 1.5rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .hero-dots .dot {
        height: 10px;
        width: 10px;
    }
}*/


/* Estilos do seletor de idioma */
.language-selector {
    margin-left: 1rem;
}

    .language-selector .btn {
        margin-left: 0.5rem;
    }

/* Estilos da seção de ícones */
.icon-section {
    padding: 40px 0;
    background-color: #f8f9fa;
}

.icon-box {
    padding: 20px;
}

    .icon-box i {
        font-size: 3rem;
        color: #00a0e3;
        margin-bottom: 10px;
    }

    .icon-box p {
        margin: 0;
        font-weight: bold;
        color: #333;
    }

/* Estilos da seção Sobre Nós */
.about-section {
    background-color: #fff;
}

.about-content {
    padding: 60px;
    background-color: #1a2a3a;
    color: white;
}

    .about-content h2 {
        margin-bottom: 30px;
        font-weight: bold;
    }

    .about-content p {
        margin-bottom: 20px;
    }

    .about-content .btn-outline-light {
        margin-top: 20px;
    }

/* Estilo para o botão do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

    .whatsapp-button img {
        width: 60px;
        height: 60px;
    }

/* Estilos da seção Linhas Produtos */
.product-lines-section {
    background-color: #1a2a3a;
    padding: 60px 0;
    color: white;
}

.product-card {
    background-color: #253649;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    transition: transform 0.2s;
    min-height: 300px; /* Define uma altura mínima para os cards */
    display: flex;
    flex-direction: column; /* Garante que o conteúdo se ajuste verticalmente */
    justify-content: space-between; /* Mantém os elementos espaçados */
}

    /* Para as imagens */
    .product-card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        flex-shrink: 0; /* Garante que a imagem não deforme */
    }

    /* Conteúdo do card ajustado */
    .product-card p {
        padding: 15px;
        font-size: 14px;
        flex-grow: 1; /* Expande para ocupar o espaço disponível */
    }


    .product-card:hover {
        transform: scale(1.05);  Efeito de aumento ao passar o mouse 
    }

.product-header {
    background-color: #00a0e3;
    padding: 15px;
    display: flex;
    align-items: center;
}

    .product-header i {
        font-size: 24px;
        margin-right: 10px;
    }

    .product-header h3 {
        margin: 0;
        font-size: 18px;
    }

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-card p {
    padding: 15px;
    font-size: 14px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00a0e3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: background-color 0.3s; /* Transição ao passar o mouse */
}

    .btn-circle:hover {
        background-color: #0077a1; /* Cor ao passar o mouse */
    }

                                                                        /* Estilos da seção Parcerias */

/* Estilos da seção Parcerias */
.partnerships-section {
    background-color: #f8f9fa;
    padding: 60px 0;
    margin-bottom: 30px; /* ESPACAMENTO ENTRE AS PARCERIAS E CONTACT US */
}

    .partnerships-section h2 {
        color: #1a2a3a;
    }

    .partnerships-section p {
        color: #6c757d;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

/* Contêiner de parceiros */
.partnership-logos {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite que as logos se quebrem em várias linhas */
    gap: 30px; /* Espaçamento entre os logos */
    margin-top: 40px;
}

    /* Garantir que as imagens dos parceiros tenham o mesmo tamanho */
    .partnership-logos img {
        width: 150px; /* Largura padrão */
        height: 100px; /* Altura padrão */
        object-fit: contain; /* Mantém a proporção original da logo, sem cortar */
        padding: 10px;
        background-color: transparent;
        border-radius: 10px;
        transition: transform 0.2s ease-in-out;
    }

        /* Efeito de hover suave */
        .partnerships-section img:hover {
            transform: scale(1.05);
        }



/* Estilos da imagem de fundo */
.banner-image {
    background-size: cover; /* Faz com que a imagem cubra todo o container */
    background-position: center; /* Centraliza a imagem */
    height: 400px; /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.banner-text {
    text-align: center;
    z-index: 1; /* Garante que o texto esteja acima da imagem */
}

    .banner-text h1 {
        font-size: 2.5rem; /* Ajuste o tamanho da fonte conforme necessário */
        margin-bottom: 1rem;
    }

    .banner-text .btn {
        margin-top: 1rem;
    }

                                                                    /*------------ENTRE EM CONTATO---------------*/

.contato-section {
    background-color: #006699; /* cor do conteudo */
    padding: 50px; /* espacamento dentro do conteudo e as bordas */
    border-radius: 10px; /* borda do conteudo */
    margin-bottom: 50px;
    max-width: 600px; /* estica ou contrai para as bordas o conteudo */
    margin: 0 auto; /* posiciona o conteudo no meio */
    color: white; /* cor das letras dentro do conteudo */
    margin-bottom: 50px; /* Aumenta o espaçamento entre a seção e o footer */
}

    .contato-section h2 {
        margin-bottom: 20px; /* Adiciona espaço entre o título e o campo "Nome" */
    }

.contato-form {
    display: grid; /* cria um espacamento entre os campos de preencher */
    gap: 20px; /* cria um espacamento entre os campos de preencher */
}

    .contato-form input[type="text"],
    .contato-form input[type="email"],
    .contato-form input[type="tel"] {
        width: 100%; /* Garante que os campos de texto ocupem 100% da largura */
        padding: 10px; /* grossura do tamanho dos campos de preencher */
        border: none;
        border-radius: 5px; /* desginer da borda dos campos */
        color: black;
        max-width: 500px; /* TAMANHO DO CAMPO DE PREENCHER */
    }

    .contato-form textarea {
        width: 100%; /* Campo de mensagem ocupa 100% da largura da coluna */
        padding: 10px; /* POSICIONA O TEXTO DENTRO DO CAMPO "MENSAGEM" */
        height: 100px; /* Altura DO CAMPO MENSAGEM */
        border: none; /* REMOVE BORDA FEIA DO CAMPO */
        border-radius: 5px; /* desginer da borda dos campos */
        resize: none; /* Impede o redimensionamento do campo */
        max-width: 500px;
    }

/* Ajusta a largura do botão */
button {
    grid-column: 1 / -1; /* Faz o botão ocupar toda a linha */
    padding: 10px;   /* altura do tamanho do botao */
    background-color: #00ccff;    /* COR FUNDO BOTAO ENVIAR */
    color: white;  /* COR FUNDO BOTAO ENVIAR */
    border: none;  /* REMOVE BORDA FEIA DO CAMPO */
    border-radius: 5px;  /* DESIGNER BORDA */
    cursor: pointer;   /* TRANSFORMA MOUSE QNDO PASSA EM CIMA */
    max-width: 120px; /* Ajusta a largura máxima do botão */
    align-self: center; /* Centraliza o botão horizontalmente */
}



                                                                                    /* CSS do Footer */

.footer {
    background-color: #003366;
    color: white !important;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    color: white !important; /* Força a cor branca */
}

.footer-links a {
    color: white !important; /* Garante que os links também fiquem brancos */
    text-decoration: none;
    margin-right: 15px;
}

.footer-logos img {
    height: 40px;
    margin-left: 10px;
    /* Nenhuma alteração necessária para as imagens */
}

.company-info {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
    color: white !important; /* Garante que o texto informativo fique branco */
}

.p {           /* cor dos textos no footer */
    color: #6c757d;
    max-width: 800px;
    margin: 0 auto;
}

